.result-input{
    width: 10em;
    height: 4.5em;
    background: #eee;
    border-radius: 5em;
    border: solid 1px #aaa;
    color:#222;
    font-weight: bolder;
    margin-top: 1em;
    margin-left: 1em;
    text-align: right;
   padding-right: 1em;
    margin-bottom: 6.5em;
}

.code-input{
    width: 10em;
    height: 4.5em;
    background: #fff;
    border-radius: 5em;
    color:#222;
    font-weight: bolder;
    border: solid 1px #333;
    margin-top: 1em;
    margin-left: 1em;
    text-align: right;
    padding-right: 1em;
}