.func-button{
    width: 5em;
    height: 5em;
    background: orange;
    border-radius: 50%;
    border: solid 1px #333;
    color:#fff;
    font-weight: bolder;
    margin-top: 1em;
    margin-left: 1em;
}

.equal-button{
    width: 10em;
    height: 5em;
    background: rgb(81,139,194);
    border-radius: 5em;
    color:#fff;
    font-weight: bolder;
    border: solid 1px #333;
    margin-top: 1em;
    margin-left: 1em;
}